<div class='user-conteiner' >
  <%# header %>
  <div class='user-canvas' style='background-image: url("<%= @user.profile_image %>"))' %>
    <div class='user-box text-dark mt-4'>
      <%= image_tag @user.profile_image, size: '150', class: 'user-box__image profile-image' %>
      <p class='h2 mb-1'><%= @user.name %></p>
      <div class="follow_form_<%= @user.id %>">
      </div>
    </div>
  </div>
  
  <%= render 'statusinfo', user: @user %>

  <% if @user.posts.present? %>
    <%= render 'posts/list', posts: @user.posts %>
  <% elsif user_signed_in? %>
    <div class='no-post'>
      <h4>
        投稿はがありません。<br>
        投稿はこちらから
      </h4>
      <%= link_to '投稿する', new_post_path, class: 'no-post__link' %>
    </div>
  <% else %>
    <h4>投稿がありません｡</h4>
  <% end %>
</div>